.moviesSearch-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 200px;
  position: fixed;
}
.moviesSearch-input {
  display: block;
  color: black;
  padding-left: 10px;
  font-size: larger;
  border-radius: 5px;
  background-color: lightgray;
}
.moviesSearch-button {
  width: 100px;
  height: 30px;
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  font-size: larger;
  border-radius: 5px;
  background-color: grey;
}
